

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.7rem;
    font-weight: bold;
    background-color: #0a74fe;
    display: block;
    padding: 10px;
    color: aliceblue;
    text-align: center;

}

h2{
    font-weight: bold;
    text-decoration: underline;
}

#contenedorProductos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 15px;
}

#contenedorProductos .card{
    padding: 15px;
    margin: 15px;
}

.btn{
    background-color: #0a74fe;
    color: aliceblue;
    font-weight: 600;
    box-shadow:0px 0px 7px 0px rgba(0,0,0,0.3);
    transition: 0.37s;
}

.btn:hover{
    background-color: #0c50aa;
    color: aliceblue;
}


.apartado-carrito{
    background-color: rgba(4, 37, 146, 0.052);
    padding: 20px;
    border-radius: 5px;
}



.btn-delete{
    text-decoration: none;
    background-color: rgb(206, 35, 35);
    padding: 5px 10px;
    border-radius: 7px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.37s;
    border: none;
}

.btn-delete:hover{
    background-color: rgb(153, 26, 26);
}

#p-total {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #b6d1f9;
    padding: 10px;
    border: 2px solid #011d3c;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
  }

#vaciar{
    background-color: rgb(206, 35, 35);
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    margin-bottom: 20px;
    
}

#vaciar:hover{
    background-color: rgb(153, 26, 26);
}

#comprar{
    background-color: #0a74fe;
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    margin: 10px 0px 20px 0px;
}

#comprar:hover{
    background-color: #0c50aa;
}

.card-body{
    padding: 0px;
}

.card img{
    width: 150px;
}

#img-carrito{
    width: 50px;
}

.titulo-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-carrito h2{
    margin-left: 10px;
}

/* ESTILOS HTML */

nav img{
    width: 200px;
}


nav .container-fluid{
    background-color: #011d3c;
    
}

nav .navbar-nav a{
    color: aliceblue;
}



/* .offcanvas-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.offcanvas-body .card{
    padding: 7px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.2);
}