
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.7rem;
    font-weight: bold;
    background-color: #0a74fe;
    display: block;
    padding: 10px;
    color: aliceblue;
    text-align: center;

}

h2{
    font-weight: bold;
    text-decoration: underline;
}

#contenedorProductos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 15px;
}

#contenedorProductos .card{
    padding: 15px;
    margin: 15px;
}

.btn{
    background-color: #0a74fe;
    color: aliceblue;
    font-weight: 600;
    box-shadow:0px 0px 7px 0px rgba(0,0,0,0.3);
    transition: 0.37s;
}

.btn:hover{
    background-color: #0c50aa;
    color: aliceblue;
}



.btn-delete{
    text-decoration: none;
    background-color: rgb(206, 35, 35);
    padding: 5px 10px;
    border-radius: 7px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.37s;
    border: none;
}

.btn-delete:hover{
    background-color: rgb(153, 26, 26);
}

#total{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

#vaciar{
    background-color: rgb(206, 35, 35);
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    width: 50%;
}

#vaciar:hover{
    background-color: rgb(153, 26, 26);
}

#comprar{
    background-color: #0a74fe;
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    margin: 10px 0px 20px 0px;
    width: 50%;
}

#comprar:hover{
    background-color: #0c50aa;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.card-body{
    padding: 0px;
}

.card img{
    width: 150px;
}

.card{
    box-shadow: 2px 2px 15px -9px rgba(0,0,0,0.72);
}





/* ESTILOS HTML */

nav img{
    width: 200px;
    margin-left: 100px;
}


nav{
    box-shadow: 0px 4px 29px -12px rgba(3, 23, 56, 0.477);
    background-color: #0c50aa;
    margin-bottom: 50px;
    height: 100px;
}

nav .navbar-nav a{
    color: aliceblue;
}

.offcanvas-body .card{
    padding: 7px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.2);
}

.collapse{
    margin-right: 100px;
}
